﻿<%@ Page Language="C#" Inherits="bonus_n01325393.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Home</title>    
</head>
<body>
	<a class="main-link" href="Cartesian.aspx">Cartesian Smartesian</a>
    <a class="main-link" href="Divisible.aspx">Divisible Sizzable</a>
    <a class="main-link" href="String.aspx">String Bling</a>
</body>
</html>
